@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-red: #B9282D;
  --color-brand-yellow: #E6A622;
  --color-brand-red-light: #d13b40;
  --color-brand-yellow-light: #f5b531;
}

body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23B9282D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>') 12 12, auto;
  font-family: 'Inter', sans-serif;
  background-color: #fcfcfc;
  color: #333;
}

a, button {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="%23B9282D" stroke="%23B9282D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>') 12 12, pointer;
}

html {
  scroll-behavior: smooth;
}